body { padding:0px; background: #e6f7ff; }

img { width:40%; padding:0px; position: fixed;}  /*left:0; position:fixed;*/

br { width:10px; }

.profile{
    padding:3%;
    margin-bottom: 10vh;
    margin-left:40%;
}
.profile-title{    
    margin-top:-50px;
    font-size: 35px;
    line-height: 1.5em; 
    font-style: italic;
}
.job{
    display: inline-block;
    vertical-align: top;
    height: 1.5em;
    overflow: hidden;
    position: relative;
}
@keyframes rotate{
    0% {
        transform: translateY(0);                                                                                                                                   
    }
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-40%);
    }
    75% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(-80%);
    }
}
.job-list{
    color: rgb(47, 107, 247);
    padding-right: 1em;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.job-list li { list-style:none; }

.text { font-size: 16pt; }