body { background: #e6f7ff; }
.slidebar { background: #fff; width: 200px; height:450px; 
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 8px; float: left; position: fixed; }
.slidebar .logo2 { text-align: center; }
.slidebar img { width:110px; height:110px; margin-top:20px; margin-bottom: 10px; }
.slidebar ul{ list-style-type: none; background-color: rgb(138,205,253) ; }
.slidebar ul li:hover{background:rgb(92, 124, 228);}
.slidebar ul li { height:70px; line-height:70px; margin-left:0px; text-align: center; }
.slidebar ul li:nth-child(-n+3) { border-bottom:2px solid white; }

.slidebar .fliter{border-top: 0px solid #ddd; padding:0%;}
body,ul,h1{ margin: 0; padding: 10%;}


.customoverlay {position:relative;bottom:85px; border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}